body{
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}

.bg{
    padding-top: 20px;
    background-color: #fff;
    width: 100%;
    border-radius: 12px;
    box-shadow: 10px 20px 10px 10px rgba(0,0,0,0.1);
    border-left: 6px solid #0d6efd;
}

.box{
    margin-bottom: 20px;
}

.card{
    min-height: 100px;
    margin-bottom: 30px;
    color: #fff;
}

.fogos{
    background: url('../images/fogos.gif') no-repeat center bottom;
    background-size: cover;
}

.bg_input{
    background-color: #fff;
    width: 100%;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 10px 20px 10px 10px rgba(0,0,0,0.1);
    border-left: 6px solid #0d6efd;
}

